{% for empleado in empleados %}
<form id="view_form" method="POST" action="/updateemployes">
    <div class="modal-body">
      <table id="editregistro" class="table table-striped table-bordered dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="datatable_info">
        <tr>
          <th>ID</th>
          <th>
            <input type="text" name="ID" id="ID" value="{{empleado.0}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Nombre</th>
          <th>
            <input type="text" name="Nombre" id="Nombre" value="{{empleado.1}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Clasificacion</th>
          <th>
            <input type="text" name="Clasificacion" id="Clasificacion" value="{{empleado.2}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Altura_Jugador</th>
          <th>
            <input type="text" name="Altura_Jugador" id="Altura_Jugador" value="{{empleado.3}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Peso_Jugador</th>
          <th>
            <input type="text" name="Peso_Jugador" id="Peso_Jugador" value="{{empleado.4}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Pie_Dominante</th>
          <th>
            <input type="text" name="Pie_Dominante" id="Pie_Dominante" value="{{empleado.5}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Edad</th>
          <th>
            <input type="text" name="Edad" id="Edad" value="{{empleado.6}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Control_Balon</th>
          <th>
            <input type="text" name="Control_Balon" id="Control_Balon" value="{{empleado.7}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Posicion_Ataque</th>
          <th>
            <input type="text" name="Posicion_Ataque" id="Posicion_Ataque" value="{{empleado.8}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Pase_Corto</th>
          <th>
            <input type="text" name="Pase_Corto" id="Pase_Corto" value="{{empleado.9}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Pase_Largo</th>
          <th>
            <input type="text" name="Pase_Largo" id="Pase_Largo" value="{{empleado.10}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Velocidad</th>
          <th>
            <input type="text" name="Velocidad" id="Velocidad" value="{{empleado.11}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Stamina</th>
          <th>
            <input type="text" name="Stamina" id="Stamina" value="{{empleado.12}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Agilidad</th>
          <th>
            <input type="text" name="Agilidad" id="Agilidad" value="{{empleado.13}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Cabezazo</th>
          <th>
            <input type="text" name="Cabezazo" id="Cabezazo" value="{{empleado.14}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Potencia_Disparo</th>
          <th>
            <input type="text" name="Potencia_Disparo" id="Potencia_Disparo" value="{{empleado.15}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Remate</th>
          <th>
            <input type="text" name="Remate" id="Remate" value="{{empleado.16}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Disparo_Largo</th>
          <th>
            <input type="text" name="Disparo_Largo" id="Disparo_Largo" value="{{empleado.17}}" class="form-control" required="true" />
          </th>
        </tr>
        <tr>
          <th>Penaltis</th>
          <th>
            <input type="text" name="Penaltis" id="Penaltis" value="{{empleado.18}}" class="form-control" required="true" />
          </th>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <a href="/deleteemployes/{{empleado.0}}" class="btn btn-danger" 
      onclick="return confirm('¿Está seguro de eliminar el registro?')">Eliminar</a>
      <button type="submit" id="Insertar" class="btn btn-primary">Actualizar</button>
    </div>
  </form>

{% endfor %}
